*{
    margin: 0;
    color: white;
    font-weight: bold;
}

button{
    border-radius: 7px;
    height: fit-content;
    margin: auto;
    margin-right: 15px;
    height: 60%;
    color: #001449;
    background-color: #906090;
    border: 0;
}
button:hover{
    height: 40%;
    background-color: #dd77dd;
}
button:active{
    
    height: 60%;
    background-color: #dd77dd;
}

header {
    position: absolute;
    display: flex;
    color: white;
    width: 100%;
    min-height: 7%;
    justify-content: space-between;
}

h2{
    margin-top: 1%;
    margin-left: 3%;
}

div{
    display: flex;
    justify-content: space-around;
}

div p {
    margin: auto;
    margin-right: 10px;
}