
div{
    height: 80%;
    display: inline-block;
    width: 100%;
}

.items{
    display: flex;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0;
    width: 90%;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 800px;
}

.noMovies{
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
}