html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
    overflow:auto;
    background-image: linear-gradient(to bottom right, #6788e3, #001449);

}
body {
    min-height: 100%;
    margin: 0;
}