
.modal {
    border-radius: 9px;
    top: 20vh;
    position: fixed;
    left: 30%;
    bottom: 10%;
    width: 40%;
    height: 50%;
    z-index: 100;
    overflow: hidden;
    text-align: center;
    color: white;
    background-color: #002D62;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7),
    1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    2px 4px 8px 0px rgba(0, 0, 0, 0.7),
    2px 4px 16px 0px rgba(0, 0, 0, 0.7);
    animation: slide-down 300ms ease-out forwards;
}
@keyframes slide-down{
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.addMovie{
    margin: auto;
    margin-top: 10%;
    height: 100%;
    width: 70%;
}

input{
    margin: auto;
    display: block;
    width: 40%;
    margin-bottom: 4%;
    border-radius: 8px;
    font-size: large;
}
label{
    margin: auto;
    display: block;
    width: 40%;
    padding: 0;
}
h3{
    margin-top: 5%;
}
button{
    display: inline-block;
}

button{
    min-height: 35px;
    border-radius: 8px;
    margin: auto;
    margin-right: 15px;
    color: #000000;
    background-color: #db9ee2;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.7),
    1px 2px 4px 0px rgba(255, 255, 255, 0.7),
    2px 4px 8px 0px rgba(255, 255, 255, 0.7),
    2px 4px 16px 0px rgba(255, 255, 255, 0.7);
}
button:hover{
    min-height: 39px;
    width: 115px;
    background-color: #dd77dd;
    border-radius: 9px;
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.7),
            1px 2px 4px 0px rgba(255, 255, 255, 0.7),
            2px 4px 8px 0px rgba(255, 255, 255, 0.7),
            2px 4px 16px 0px rgba(255, 255, 255, 0.7);
}

button:active{
    height: 42px;
    width: 70px;
    background-color: #dd77dd;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7),
    1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    2px 4px 8px 0px rgba(0, 0, 0, 0.7),
    2px 4px 16px 0px rgba(0, 0, 0, 0.7);
}

.disable{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;  
}

.errorFetch{
    margin-top: 4%;
    color: red;
    font-size: large;
    font-weight: bold;
}